@{
    ViewData["Title"] = "Contact";
    string site = "http://" + @ViewData["Site"].ToString();
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Owner: @ViewData["Own"] <br />
    Scafi Street, 37<br />
    Trento, IT 38123<br />
    <abbr title="Phone">P:</abbr>
    +39 0461-5555
</address>

<address>
    <strong>Support:</strong> <a href=@ViewData["Email"]>@ViewData["Email"]</a><br />
    <strong>Site:</strong> <a href= @site >@ViewData["Site"]</a>
</address>
